@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-denim-100 text-denim-700 font-open-sans overflow-x-hidden;
  min-height: 100vh;
  min-height: 100dvh;
}

html[data-full], html[data-full] body {
  overscroll-behavior-y: none;
}

#root {
  padding: 0.05px;
  min-height: 100vh;
  min-height: 100dvh;
  width: 100%;
}

body[data-no-select] {
  user-select: none;
}
