.cardView {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    box-sizing: border-box;
}

.cardView nav {
    width: 100%;
    max-width: 624px;
}
.cardView nav a {
    padding: 8px 16px;
    margin-right: 10px;
    border-radius: 4px;
    color: var(--text);
}
.cardView nav a:not(.selected-link) {
    cursor: pointer;
}
.cardView nav a.selected-link {
    background: var(--button);
    color: var(--button-text);
    font-weight: bold;
}

.cardView > * {
    margin-top: 2rem;
}

.cardView > *:first-child {
    margin-top: 38px;
}

.topRightCredits {
    position: absolute;
    right: 1rem;
    top: 1rem;
    margin-top: 0 !important;
    text-align: right;
}

.topRightCredits a, .topRightCredits a:visited {
    color: var(--theme-color);
    text-decoration: none;
    margin: 0;
}

.topRightCredits a:hover, .topRightCredits a:active {
    color: var(--theme-color);
    text-decoration: none;
}

.topRightCredits a .arrow {
    transform: translateY(.1rem);
}

.topRightCredits a:hover .arrow {
    transform: translateY(.1rem) translateX(.2rem);
}

p.source {
    text-transform: uppercase;
    font-weight: bold;
    color: var(--source-headings);
    font-size: 0.8em;
    margin-top: 2rem;
}
