.errorBanner {
	margin-top: 0.5rem;
    border-inline-start: none;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: -.01em;
    padding: .5rem 1rem .5rem .75rem;
    border-radius: .25rem;
	background-color: var(--button);
	color: var(--button-text);
}