:root {
  --theme-color: #E880C5;
  --theme-color-text: var(--theme-color);
  
  --failed: #d85b66;

  --body: #16171D;
  --card: #22232A;

  --text: white;
  --text-secondary: #BCBECB;
  --text-tertiary: #585A67;

  --content: #36363e;
  --content-hover: #3C3D44;

  --button: #A73B83;
  --button-hover: #9C3179;
  --button-active: #8b286a;
  --button-text: var(--text);

  --choice: #2E2F37;
  --choice-hover: #45464D;
  --choice-active: #45464D;
}
/* @media (prefers-color-scheme: light) {
  :root {
    --theme-color: #457461;
    
    --body: white;
    --card: #f8f9fa;
    
    --content: #eee;
    --content-hover: #e7e7e7;
  
    --text: #333;
    --text-secondary: #616161;
    --text-tertiary: #aaa;

    --button: #457461;
    --button-hover: #4e836e;
    --button-active: #437a64;
    --button-text: white;

    --choice: var(--content);
    --choice-hover: var(--content-hover);
    --choice-active: var(--content-hover);
  }
} */

body, html {
  margin: 0;
  background-color: var(--body);
  min-height: 100vh;
}

body, html, input, button {
  font-family: 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
}