.flare-enabled .flare-light {
  opacity: 1 !important;
}

.hover\:flare-enabled:hover .flare-light {
  opacity: 1 !important;
}

.bookmark-button {
  opacity: 0;
  transition: opacity 0.3s;
}

.group:hover .bookmark-button {
  opacity: 1;
}

/* Ensure text is always visible on mobile */
@media (max-width: 1024px) {
  .group h1, .group button {
    opacity: 1; /* Always visible on mobile */
  }

  .group .group-hover\\:opacity-100 {
    opacity: 1; /* Ensure the flare effect is always visible */
  }

  .group:hover .bookmark-button {
    opacity: 0;
  }
}
